<h1>Grilled Sandwiches</h1>

<%= link_to "Grilled Sandwiches", sandwiches_grilled_path %> 

<%=@sandwiches.each do |sandwich|%>
<%= render partial: 'sandwich', locals: {sandwich: @sandwich} %>
<% end %>
